.header {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;

  background-color: rgb(241, 241, 241);
  width: 100%;
  padding-top: 45px;
  padding-bottom: 20px;

  box-shadow: 0 18px 36px -18px rgba(0, 0, 0, 0.3),
    0 -12px 36px -8px rgba(0, 0, 0, 0.025);

  z-index: 1;
}

.header h1 {
  font-size: 20px;
  font-weight: 700;
}

.header .header__title {
  font-size: 20px;
  font-weight: 600;
}

.header .header__icon {
  font-size: 20px;
  margin-left: 20px;
  cursor: pointer;
}

.header .header__header-column {
  display: flex;
  align-items: center;
}

.header .header__back-btn {
  font-size: 22px;
  margin-right: 20px;
}

.header .header__header-column {
  padding: 0px 21px;
}
