.nav {
  position: fixed; /*이걸 쓸때는 width를 설정해 줘야한다. 다른 레이어 위에 올려놓기 때문이다. */
  width: 100%;
  background-color: #fcfcfc;
  padding: 20px 50px;
  left: 0px;
  bottom: 0px;
  border-top: 1px solid #f7f7f7;
}

.nav .nav__list {
  display: flex;
  justify-content: space-between;
}

.nav i {
  font-size: 20px;
}
.nav .nav__list-link {
  position: relative;
}

.nav .nav__badge {
  background-color: #dc5d46;
  color: white;
  position: absolute;
  top: -7px;
  right: -7px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  font-size: 10px;
}
